<header class="bg-violet fixed w-full z-10 shadow-2xl">
  <div class="container mx-auto px-4 py-4 flex justify-center items-center">
    <!-- Logo -->
    <div >
     <svg width="50" height="50" viewBox="0 0 220 271" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M146.933 52.4545V211H114.419L51.326 119.496H50.3196V211H11.9993V52.4545H44.978L107.374 143.804H108.69V52.4545H146.933Z" fill="black"/>
<mask id="path-2-outside-1_1_88" maskUnits="userSpaceOnUse" x="97" y="40" width="135" height="182" fill="black">
<rect fill="white" x="97" y="40" width="135" height="182"/>
<path d="M216.12 51.88L156.84 211H117.96L167.16 81.4L178.44 85.48H108.6V51.88H216.12Z"/>
</mask>
<path d="M216.12 51.88L156.84 211H117.96L167.16 81.4L178.44 85.48H108.6V51.88H216.12Z" fill="#4C3FC2"/>
<path d="M216.12 51.88L226.428 55.7202L231.957 40.88H216.12V51.88ZM156.84 211V222H164.481L167.148 214.84L156.84 211ZM117.96 211L107.676 207.096L102.018 222H117.96V211ZM167.16 81.4L170.902 71.0559L160.719 67.3729L156.876 77.4959L167.16 81.4ZM178.44 85.48V96.48L182.182 75.1359L178.44 85.48ZM108.6 85.48H97.6V96.48H108.6V85.48ZM108.6 51.88V40.88H97.6V51.88H108.6ZM205.812 48.0398L146.532 207.16L167.148 214.84L226.428 55.7202L205.812 48.0398ZM156.84 200H117.96V222H156.84V200ZM128.244 214.904L177.444 85.3041L156.876 77.4959L107.676 207.096L128.244 214.904ZM163.419 91.7441L174.699 95.8241L182.182 75.1359L170.902 71.0559L163.419 91.7441ZM178.44 74.48H108.6V96.48H178.44V74.48ZM119.6 85.48V51.88H97.6V85.48H119.6ZM108.6 62.88H216.12V40.88H108.6V62.88Z" fill="white" mask="url(#path-2-outside-1_1_88)"/>
</svg>

    </div>

    <!-- Liens de navigation centrés -->
    <nav class="hidden md:flex space-x-8 text-black">
      <a href="#presentation" class="py-2 px-4 hover:bg-white rounded-md">Présentation</a>
      <a href="#nos-technologies" class="py-2 px-4 hover:bg-white rounded-md">Nos technologies</a>
      <a href="#notre-équipe" class="py-2 px-4 hover:bg-white rounded-md">Notre équipe</a>
      <a href="#nos-projets" class="py-2 px-4 hover:bg-white rounded-md">Nos projets</a>
      <a href="#contact" class="py-2 px-4 hover:bg-white rounded-md">Contact</a>
    </nav>
  </div>
</header>
<section id="presentation" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Qui sommes-nous</h1>
    <!-- Contenu de la section Présentation -->
  </div>
</section>

<section id="presentation" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos services</h1>
    <!-- Contenu de la section Présentation -->
  </div>
</section>

<section id="technologies" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos technologies</h1>
    <!-- Contenu de la section Nos technologies -->
  </div>
</section>

<section id="equipe" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Notre équipe</h1>
    <!-- Contenu de la section Notre équipe -->
  </div>
</section>

<section id="projets" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos projets</h1>
    <!-- Contenu de la section Nos projets -->
  </div>
</section>

<section id="contact" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Contact</h1>
    <!-- Contenu de la section Contact -->
  </div>
</section>
