<header class="bg-violet fixed w-full z-10 shadow-2xl">
  
  
  <div class="container mx-auto px-4 py-4 flex justify-center items-center">
    <div class="absolute  ml-10 left-0">
 <app-n7></app-n7>
  </div>
   
    <nav class="hidden md:flex space-x-8 text-black">
      <a href="#presentation" class="py-2 px-4 hover:bg-white rounded-md">Présentation</a>
      <a href="#nos-technologies" class="py-2 px-4 hover:bg-white rounded-md">Nos technologies</a>
      <a href="#notre-équipe" class="py-2 px-4 hover:bg-white rounded-md">Notre équipe</a>
      <a href="#nos-projets" class="py-2 px-4 hover:bg-white rounded-md">Nos projets</a>
      <a href="#contact" class="py-2 px-4 hover:bg-white rounded-md">Contact</a>
    </nav>
  </div>
</header>
<section id="presentation" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Qui sommes-nous</h1>
    <!-- Contenu de la section Présentation -->
  </div>
</section>

<section id="presentation" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos services</h1>

    <!-- Contenu de la section Présentation -->
  </div>
</section>

<section id="technologies" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos technologies</h1>
    <!-- Contenu de la section Nos technologies -->
  </div>
</section>

<section id="equipe" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Notre équipe</h1>
    <!-- Contenu de la section Notre équipe -->
  </div>
</section>

<section id="projets" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Nos projets</h1>
    <!-- Contenu de la section Nos projets -->
  </div>
</section>

<section id="contact" class="min-h-screen pt-16 flex items-center justify-center">
  <div class="container mx-auto py-12 text-center">
    <h1 class="text-4xl font-bold">Contact</h1>
    <!-- Contenu de la section Contact -->
  </div>
</section>
