<div class="flex justify-center items-center">
  <div
    class="rounded-2xl w-full max-w-[800px] overflow-hidden shadow-xl p-6 flex bg-white"
  >
    <div class="relative w-1/2 min-w-[50%]">
      <h1 class="font-bold text-xl absolute top-2 left-2 z-10">Service 1</h1>
      <img
        class="w-full h-full object-cover"
        src="https://images.unsplash.com/photo-1605152276897-4f618f831968?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJlc3RhdGlvbiUyMGluZm9ybWF0aXF1ZXxlbnwwfHwwfHx8MA%3D%3D"
        alt="service 1"
      />
    </div>
    <div class="flex items-center w-1/2 pl-4">
      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
        repudiandae praesentium, quibusdam optio vero eos porro necessitatibus
        eius rem eligendi tenetur autem eaque nulla cum, eum maxime iusto
        voluptas nam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Assumenda, quam maiores quibusdam ducimus sed ut dignissimos, dolorem
        quia doloremque hic ex nobis voluptates adipisci amet eaque harum
        repellendus, debitis et. Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Numquam soluta porro reiciendis facere dolore neque
        rerum, dignissimos, alias maiores voluptatem omnis. Suscipit, placeat
        error nesciunt ex optio ducimus possimus totam! Lorem
      </p>
    </div>
  </div>
</div>
